

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    width: 1149px;
    height: 860px;
}

.buttonContainer{
    margin-left: 10%;
    width: 20px;
    height: 20px;
}