
.proyectos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100% content-box;
    height: 200px;
    min-width: 700px;
    min-height: 200px;
    max-width: 950px;
    max-height: 500px;
    font-size: 12px;
    border-bottom: 1px solid #0f0f0f;
    border-left: 1px solid #0f0f0f;
    border-right: 1px solid #0f0f0f;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.header {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 1px solid #0f0f0f;
    border-bottom: 1px solid #0f0f0f;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #FF6C6C;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    margin-right: 2rem;
    
}

.icon {
    margin-right: 1rem;
    border: 1px solid #0f0f0f;
    position: relative;
    left: 10px;
}

.headerItem {
    /* width: 100%; */
    
}

.bodyRight {
    
}