.container {
    margin-top: 20px;
    margin-left: 350px;
    width: 1103px;
    height: 511.84px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.main__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
    gap: 23px;

    width: 1149px;
    height: 50px;
}

.main__noContracts{
    color: rgba(0, 0, 0, 0.87);
    font-style: normal;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    line-height: 35px;
    margin: 100px;
}