.Form {
    width: 300px;
    margin-top: auto;
}

.Form__input {
    margin-top: auto;
    display: block;
    position: relative;
    width: 293.22px;
    height: 29.75px;
    left: 900px;
    
    background: #C4C4C4;
    border-radius: 30px;
    border-style: none;
    border-color: #C4C4C4;
}

.Form__label {
    margin-top: auto;
    display: block;
    position: relative;
    left: 900px;
    width: 200px;
    font-family: 'Open Sans Hebrew Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.Form__button {
    background-color: #FE3D2B;
    position: relative;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;    
    border-color: #FE3D2B;
    left: 900px;
    width: 148.65px;
    height: 38px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: block;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
