@font-face {
  font-family: 'pollolandia-icons';
  src:
    url('/fonts/pollolandia-icons.ttf?mzr7oz') format('truetype'),
    url('/fonts/pollolandia-icons.woff?mzr7oz') format('woff'),
    url('/fonts/pollolandia-icons.svg?mzr7oz#pollolandia-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pollolandia-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.PL-user:before {
  content: "\e909";
}
.PL-close:before {
  content: "\e908";
  color: #fff;
}
.PL-mail:before {
  content: "\e906";
  color: #fff;
}
.PL-telf:before {
  content: "\e907";
  color: #fff;
}
.PL-arrow:before {
  content: "\e900";
  color: #fff;
}
.PL-logout:before {
  content: "\e901";
  color: #fff;
}
.PL-config:before {
  content: "\e902";
  color: #fff;
}
.PL-history:before {
  content: "\e903";
  color: #fff;
}
.PL-payroll:before {
  content: "\e904";
  color: #fff;
}
.PL-profile:before {
  content: "\e905";
  color: #fff;
}
.inverted {
  display: inline-block;
  transform: rotate(180deg);
}
