.content {
  margin-left: 331px;
}


.title {
    margin: 40px 0 5px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}
.subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #1976D2;
  margin: 0 0 40px 0;
}

.alert {
    margin-bottom: 55px;
    width: 608px;
    height: 76px;    
}

.buttons {
    margin-top: 30px;
    width: 1149px;
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
}