.main {
  height: 522px;
  width: 1053px;
  overflow-y: scroll;
  margin: 135px 0 60px 202px;
}

.main::-webkit-scrollbar {
  width: 9px;
}

/* Track */
/* .main::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
.main::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
}

/* Handle on hover */
.main::-webkit-scrollbar-thumb:hover {
  background: #a3a1a1;
} 