
.proyectos {
  background-color: #f5f5f5;
  
  
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  background-color: #F53D3D;
  margin-right: 2rem;
}

.centerContent {
  display: flex;
  flex-direction: space-between;
  align-items: start;
}

.proyectoBody {
    margin-top: 3rem;
    padding-left: 1rem;
}


