.formLayer{
	margin-top: 105px;
	margin-left: 177px;
	padding: 30px 70px;
	position: fixed;
}

.subtitle{
	font-family: 'Open Sans Hebrew Condensed';
    font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: black;
}

.Formsubtitle {
	font-family: 'Open Sans Hebrew Condensed';
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    color: #FE3D2B;
}

.RegisterCompanyInput{
	font-family: 'Roboto Slab';
	margin-bottom: 15px;
	width: 520px;
	height: 50px;
	display: inline-block;
}

.InputLabel{
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
}

.InputTextBox{
	padding-top: 6px;
	border-width: 0 0 1px;
	margin-right: 60px;
	width: 260px;
	float: right;
}

.ErrorMessage{
	font-size: 12px;
	color: red;
	display: none;
}

.InputTextBox:invalid ~ .ErrorMessage {
	display: block;
}

.AcceptButtonPosition{
	display: inline-block;
	text-align: right;
	width: 50%;
	padding-right: 60px;
}

.CancelButtonPosition{
	display: inline-block;
	text-align: left;
	width: 50%;
}

.ModalContainer{
	width: 957px;
	padding: 0 49px 22px 35px;
}

.ModalSubEntry {
	font-family: 'Roboto Slab';
}

.InputText{
	width: 416px;
	display: inline-block;
}

.ModalButtonPosition{
	text-align: right;
}

#SectionOne{
	margin-top: -5.7px;
	margin-bottom: 16px;
}

#SectionTwo{
	margin-top: 16px;
	margin-bottom: 16px;
}
