/* Rectangle 12 */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: 100vh;
    background: linear-gradient(179.81deg, #F53D3D -7.75%, rgba(138, 21, 21, 0.887148) 140.76%);
    padding-right: 5rem;
    margin-top: -2rem;
}

.sidebarBodyListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    color: #FFFFFF;
    text-decoration: none;
}

.objectSidebar {
    margin-left: 1rem;
    
}

.sidebarBody {
    height: 38rem;
}



